### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

### Logs ###
logs
*.log
npm-debug.log*
yarn-error.log*

### Runtime ###
pids
*.pid
*.seed
*.pid.lock

### NPM modules ###
node_modules/
.npm
.node_repl_history

### Cache ###
.awcache

### Compiled files ###
dist

### Other ###
._*
.env
